<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Save Vet Page</title>
</head>
<body>
<h2>Register Vet</h2>
<form action="addV" method="POST">

<span>Vet Name</span><input type="text" name="vetName"><br/>
<span>Vet Contact</span><input type="text" name="vetContact"><br/>
<span>Vet City</span><input type="text" name="vetCity"><br/>
<span>Speciality Id</span><input type="text" name="specialityId"><br/>
<input type="submit" value="Register">
</form>
</body>
</html>