<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
    <h1>Owner Service</h1>
    <hr>
    <p>
        <a th:href="@{findOwner}">Find  owner by Owner Id</a>
    </p>
     <p>
        <a th:href="@{addOwner}">Add owner</a>
    </p>
    <p>
        <a th:href="@{add}">Add pet to owner</a>
    </p>
     <p>
        <a th:href="@{deleteOwnerr}">Delete Owner by ownerId</a>
    </p>
    <p>
        <a th:href="@{deletepet}">Delete pet from owner</a>
    </p>
     <p>
        <a th:href="@{find}">Find pet by petId</a>
    </p>
    
     <p>
        <a th:href="@{listP}">List pets of owner</a>
    </p>
    <p>
        <a th:href="@{updateOwnerr}">Update an owner</a>
    </p>
    
  
</body>
</html>