<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
    <h1>Vet Service</h1>
    <hr>
    <p>
        <a th:href="@{addSpecc}">Add speciality</a>
    </p>
     <p>
        <a th:href="@{addVett}">Add vet</a>
    </p>
    <p>
        <a th:href="@{findVett}">find vet by vet id</a>
    </p>
     <p>
        <a th:href="@{listSpecc}">list specialities</a>
    </p>
    <p>
        <a th:href="@{listt}">list vet for a speciality</a>
    </p>
     <p>
        <a th:href="@{listVetss}">list vets</a>
    </p>
    <p>
        <a th:href="@{removeSpecc}">remove speciality</a>
    </p>
     <p>
        <a th:href="@{removeVett}">remove Vet</a>
    </p>
    <p>
        <a th:href="@{updateVett}">Update vet</a>
    </p>
    <p>
        <a th:href="@{findSpec}">Find speciality</a>
    </p>
    
  
</body>
</html>